{% extends "base.html" %}
{% load staticfiles %}
	
	<!-- Carousel
	***********************************-->
	{% block content %}
		<div id="myCarousel" class="carousel slide shadow-btm" style="position: relative; z-index:1">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
			</ol>
			
			<div class="carousel-inner">
			
				<div class="item active">
					<img src="{% static 'image/scene1.jpg' %}" />
					<div class="container">
						<div class="carousel-caption">
							<font color="#ffffff">
							<h1>Rooms</h1>
							<p>Blah blah</p></font>
							<p><a class="btn btn-large btn-danger" href="rooms.html">Check Rooms</a></p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<img src="{% static 'image/scene2.jpg' %}"/>
					<div class="container">
						<div class="carousel-caption">
							<font color="#ffffff">
							<h1>Equipments</h1>
							<p>Blah blah</p></font>
							<p><a class="btn btn-large btn-danger" href="equipments.html">Check Equipments</a></p>
						</div>
					</div>
				</div>
				
			</div>
			
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			
		</div>

		
		<br/><br/>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h1 align="center"><b>Welcome!</b><h1>
						<p class="lead" align="justify"><i>The University of the Philippines Department of Computer Science Room Reservation System aims to provide users a simple, integrated, and streamlined room reservation experience in the Computer Science building.</i></p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="jumbotron">
						<h2 align="center">Please sign in</h2>
						<font color="#f7941d"><strong>{{	state	}}</strong></font>
						<form id="login_form" method="post" action="/login/" class="form-horizontal">
							{% csrf_token %}
							<div class="form-group">
								<label>Username</label>
								<br/>
								<div class="col-sm-12">
									<input type="text" class="form-control" name="username" value="" size="50" placeholder="Enter username..."/>
								</div>
							</div>

							<div class="form-group">
								<label>Password</label>
								<br/>
								<div class="col-sm-12">
									<input type="password" class="form-control" name="password" value="" size="50" placeholder="Enter password..."/>
								</div>
							</div>
							
							<input class="btn btn-large btn-primary" type="submit" value="Sign In" />
						</form>
					</div>
				</div>

				<div class="col-md-4">
					<div class="jumbotron">
						<center>
							<h2 align="center">View Calendar</h2>
							<a class="btn btn-danger" id="mytooltip" href="#" data-toggle="tooltip" title="View Calendar" data-placement="right">
							<font size="4">Calendar</font>
							</a>
						</center>
					</div>	
				</div>

				<div class="col-md-4">
					<div class="jumbotron">
						<h2 align="center">Feedback</h2>
						<p><font size="3">Strum me like a guitar, blow out my amplifier When you hear some feedback keep going take it higher Crank it up give it to me, come on Crank it up give it to me, come on I'm gonna feedback feedback, ohh Feedback feedback, ohhh </font></p>
						<p align="right"><a href="#" target="_blank">Feedback Form</a></p>
					</div>
				</div>
				
			</div>
			
		</div>
	{% endblock %}