<!DOCTYPE html>
<html>

    <head>
        <title>{{ equipment.name }}</title>
    </head>

    <body>
        <h1>{{ equipment.name }} {{ equipment.number }}   {{ equipment.capacity }}</h1>
		<form action="/userpanel/equipment/{{ equipment.pk }}/" method="post">
			{% csrf_token %}
			Event: <input type="text" name="name" value="CS 192" size="50" /> <br />
			Description: <input type="text" name="description" value="Fun" size="50" /> <br />
			Start Date: <input type="date" name="startdate" value="" size="50" /> <br />
			End Date: <input type="date" name="enddate" value="" size="50" /> <br />
			Start Time: <input type="time" name="starttime" value="14:00" size="50" /> <br />
			End Time: <input type="time" name="endtime" value="01:00" size="50" /> <br />
			<input type='submit' name='reserve' value='Reserve'>
		</form>

	</body>
</html>

    