<!DOCTYPE html>
<html>
    <head>
        <title>DCS Room Reservation System User Panel</title>
    </head>
    <!-- Once we are able to set up a form, add {% csrf_token %} right a line after the <form> tag -->
    <body>
        <h1>User Panel</h1>
        {% if user_list %}
        <ul>
        {% for u in user_list %}
            <li>{{ u.username }}                    {{ u.emailadd }}    {{ u.user_privileges }}</li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No users are available.</p>
        {% endif %}

        {% if room_list %}
        <ul>
        <h1>1 - Available, 2 - Pending, 3- Reserved</h1>
        {% for room in room_list %}
            <li><a href="/userpanel/room/{{ room.pk }}/">{{ room.name }}</a></li>
            <ul>    
            {% for event in room.reserveinfo_set.all %}
                <li><a href="/userpanel/event/{{ event.pk }}/">{{ event.Eventname }} {{ event.Status }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
        {% else %}
            <p>No rooms are available.</p>
        {% endif %}

        {% if equipment_list %}
        <ul>
        {% for equipment in equipment_list %}
            <li><a href="/userpanel/equipment/{{ equipment.pk }}/">{{ equipment.name }}    {{ equipment.description }}</li>
            <ul>    
            {% for use in equipment.useinfo_set.all %}
                <li><a href="/userpanel/use/{{ use.pk }}/">{{ use.Eventname }} {{ use.Status }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
        {% else %}
            <p>No equipments are available.</p>
        {% endif %}
        <a href="../logout/">Logout</a>
    </body>
</html>